.formulario h2{ 
    display: contents;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mensaje{
    display: none;
    justify-content: center;
    margin: 10px;
}
.mensaje p{
    background-color: rgb(70, 160, 70);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: solid 2px;
    font-weight: bold;
}